p {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
        line-height: 1.6; 
        margin: 0;
        padding: 20px;
        font-size: large;
    }
.main-heading {
    text-align: center;
    font-size: 56px; 
    color:black; 
}
@media (max-width: 768px) {
     .main-heading {
        font-size: 24px;
    }
    .subheading {
        font-size: 18px;
        margin-left: 10px;
    }
    
        body {
            font-size: 16px;
            padding: 10px;

        }
    img{
        width: 20%;
        height: 20%;
        display: block;
        margin: auto;
    }
    .img2{
        width: 600;
        
    }
    
    }

.subheading {
    font-size: 35px; 
    color: #FF5733; 
    font-family: 'Times New Roman', Times, serif; 
    margin-left: 20px; 
}
.img{
    
        width: 50%; 
        height: 40%; 
        display: block; 
        margin: 0 auto; 
        /* padding-left: 55px; */
    }
body{
    background-color:white;
}
